<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tips and Tricks</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> <!-- Latest compiled and minified javascript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 id="fancy">Tips and Tricks</h1>
                    <h2 id="fancy">on Picking the Right Outfit</h2>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <p>
            Picking the perfect outfit for each and every day can be hard (Gurl, we've all been there). Your thoughts may range from 'I have too many choices!' to 'I have nothing to wear!'. Don't worry! We're here to help! Here are some do's and don'ts of
            picking an outfit.
        </p>
        <div class="container-2">
            <div class="row-2">
                <div class="col-md-6">
                    <ul>
                        <li>DO add the right accessosries</li>
                        <li>DO try on everything</li>
                        <li>DO mix up your choices</li>
                        <li>DO try something new</li>
                        <li>DO make a statement with your clothing choices</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>DON'T look like you're trying to hard</li>
                        <li>DON'T ignore balance</li>
                        <li>DON'T try to look like a mannequin. Be your own fashion model</li>
                        <li>DON'T over accesorize</li>
                        <li>DON'T be afraid of showing your body off</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
